django
gunicorn
django-heroku
requests-html
arcgis
#pandas
numpy
matplotlib
#cartopy
#watermark
#pprint
mpld3
scipy
#psycopg2-binary
psycopg2
dj-database-url
python-dotenv
sklearn
numdifftools
lmfit
statsmodels
#numba