{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="flex jumbotron jumbotron-fluid flex-grow align-items-center justify-content-center">
  <div class=" container text-center center">
	<h1 class="display-3">Grafik Prediksi</h1>
	<p class="lead">Silahkan pilih Kabupaten/Kota.</p>
	<div class="dropdown show">
		<a class="btn btn-secondary dropdown-toggle btn-lg" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			Kabupaten/Kota
		</a>

		<div class="dropdown-menu pre-scrollable" aria-labelledby="dropdownMenuLink">
			{% for key, value in kabko_dict.items %}
			<a class="dropdown-item" href="/grafik/{{ key }}">{{ value }}</a>
			{% endfor %}
		</div>
	</div>
	<!--
	<form class=" needs-validation">
		<div class="input-group mx-auto kabko-select">
			<select class="form-control form-control-lg" name="kabko" id="kabko-select" required>
				<option value="{{key}}">{{value}}</option>
			</select>
			<div class="input-group-append">
				<button type="submit" class="input-group-text btn-lg text-lg" id="btn-submit">Submit</button>
			</div>
		</div>
	</form>
	-->
  </div>
</div>
{% endblock %}
